  <% if (!user) { %>
    <link rel="stylesheet" href="/stylesheets/siwg.css">
  <% } %>
</head>
<body>
  <nav>
      
    <% if (user) { %>
      <a href="/books/new">
        <button type="submit">Add a New Book</button>
      </a>
      <a href="/shelves/new">
        <button type="submit">Add a New Shelf</button>
      </a>
      <a href="/auth/logout">
        <button type="submit">Logout</button>
      </a>
    <% } else { %>
      <a href="/auth/google" class="siwg-link">
        <button type="submit" class="siwg">
          <img id="siwg-image" alt="Sign in with Google" />
        </button>
      </a>
    <% } %>
  </nav>
