<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<main id="landing">
  <h1 class="lander">Welcome to Readrs</h1>
  <p class="bigger">The perfect companion to any reader with a large (and growing) book collection</p>
  <p>-> Simply log-in with your Google account <-</p>
  <p>-> Create your first shelf <-</p>
  <p>-> Add your books <-</p>
  <p class="bigger">And disappear into your own fantasy world</p>

  
</main>

<%- include('./partials/footer') %>
