body {
  --lav: #e9c583;
  --verm: #83272d;
  --charGreen: #293132;
  --seaGreen: #00A9A5;
  --greYell: #A8C256;
}

form {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(2, minmax(auto, 35.2rem));
  font-size: 2rem;
}

form > label {
  font-family: "Cinzel";
}

form * {
  font-family: "Space Grotesk", sans-serif;
  padding: 5px;
  border-radius: 5px;
  font-size: 3rem;
  font-weight: bold;
}

form > button {
  grid-column: span 2;
  width: 16rem;
  margin-left: auto;
  font-size: 2.2rem;
}