table {
  font-size: 2rem;
}

table thead th {
  padding: 5px;
  border-bottom: 2px solid var(--charGreen);
  text-align: center;
  font-weight: bolder;
}

table td {
  padding: 10px;
  text-align: center;
  font-weight: bold;
  border-bottom: 1px solid var(--charGreen);
  
}


tbody > tr:hover {
  background-color: var(--lavHover);
}

a {
  color: var(--verm)
}

a:hover {
  color: var(--vermHover);
}


form {
  display: flex;
  font-size: 2rem;
}


form * {
  padding: 5px;
  border-radius: 5px;
  font-size: 3rem;
  font-weight: bold;
}

form > button {
  grid-column: span 2;
  width: 17rem;
  margin-left: auto;
  font-size: 2.2rem;
}

#search {
  display: flex;
}

#delete-book-button {
  font-size: 2rem;
  color: whitesmoke;
  background-color: var(--lav);
  border: 2px solid var(--verm)
} 

#delete-book-button:hover {
  background-color: var(--charHover);
}