form {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(2, minmax(auto, 35.2rem));
  font-size: 2rem;
}

form > label {
  color: var(--verm)
}

form * {
  padding: 5px;
  border-radius: 5px;
  font-size: 3rem;
  font-weight: bold;
}

form > button {
  grid-column: span 2;
  width: 17rem;
  margin-left: auto;
  font-size: 2.2rem;
  color: var(--verm);
}