body {
  --lav: #e9c583;
  --verm: #83272d;
  --charGreen: #293132;
  --seaGreen: #00A9A5;
  --greYell: #A8C256;
}

main {
  margin-top: 30px;
  margin-bottom: 30px;
}

section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  margin: 50px;
  background: transparent;
  border-radius: 10px;
  border: 3px solid var(--charGreen)
}

.card-img-top {
  border-bottom: 2px dashed var(--charGreen)
}

.card-text {
  text-align: center;
  background: none;
}

.card-text > a {
  color: var(--verm)
}

#book-count {
  text-align: right;
}

