body {
  --lav: #DCCDE8;
  --verm: #D33F49;
  --charGreen: #293132;
  --seaGreen: #00A9A5;
  --greYell: #A8C256;
}

main {
  margin-top: 30px;
  margin-bottom: 30px;
}

section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  margin: 50px;
}

.card-text {
  text-align: center;
}

.card-text > a {
  
  color: var(--verm)
}

#book-count {
  text-align: right;
}

